.navigation {
  width: 1600px;
  height: 148px;
  background-color: #f8f3f4;
  @include flex-center();
  justify-content: space-around;
  margin: 0 auto;

  &__header {
    font-family: Lato;
    font-size: 24px;
    line-height: 20px;
    font-weight: 900;
    text-transform: uppercase;
    color: #f16d7f;
  }

  &__crumbs {
    font-family: Lato;
    font-size: 14px;
    line-height: 20px;
    font-weight: 300;
    text-transform: uppercase;
    color: #636363;

    > span {
      font-weight: 700;
      color: #f16d7f;
    }
  }
}
