// colors
$color-dark-cyan: rgb(14, 135, 132);
$color-dark-grey-blue: rgb(51, 61, 75);
$color-pale-orange: rgb(253, 214, 186);
$color-light-cream: rgb(254, 252, 247);
$color-grey: rgb(131, 136, 143);
$color-button-default: rgb(14, 135, 132);
$color-button-hover: rgb(102, 210, 207);
$color-button-disabled: rgb(226, 222, 219);
$color-dark-blue: rgb(44, 52, 62);
$selection-option-default: rgb(244, 241, 235);

// font size
// $font-2xs: ;
// $font-xl: ;
$font-sm: 1.2rem;
$font-md: 1.6rem;
$font-lg: 1.8rem;
$font-xl: 2.4rem;
$font-2xl: 4rem;
$font-3xl: 3.2rem;
$font-4xl: 7.2rem;